$accent-fg: #fff;
$accent-bg: #048;
$accent-bg-light: #26a;
$accent-bg-lighter: #48c;

$default-font: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

%underline-on-hover {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $default-font;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
}

.error,
.info {
    background: #f003;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.error {
    border-color: #f00;
}
.info {
    
    border-color: #00f;
}

a, .link {
    text-decoration: none;
    color: inherit;
    @extend %underline-on-hover;

    &.painted {
        color: $accent-bg-light;
    }
}

.flex-separator {
    margin-lefT: auto;
}

body {
    background: #d9d9d9;
}

.content {
    background: #f4f4f4;
    width: 800px;
    min-height: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
}

.header-section {
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;

    header {
        background: $accent-bg-light;
        color: #fff;
        padding: 40px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
        color: $accent-fg;
        background: $accent-bg;

        & > * {
            padding: 10px;
        }

        .nav-button {
            @extend %underline-on-hover;
            &.right {
                justify-self: right;
            }
        }
    }
}

.main-board {
    padding: 10px;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    $odd-bg: #ececec;
    $even-bg: #e0e0e0;

    .item {
        background: transparentize($accent-bg, 0.3);
        background: $odd-bg;
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .item:nth-child(even) {
        background: transparentize($accent-bg, 0.1);
        background: $even-bg;
    }

    .post-list-controls {
        background: $accent-bg-light;
        color: $accent-fg;
    }

    .post {
        .post-title {
            font-size: 1rem;
            color: $accent-fg;
            color: $accent-bg;
            word-break: break-all;
        }

        .post-author {
            font-size: 1rem;
            color: $accent-bg-light;
            opacity: .9;
            padding-left: 5px;
        }
    }
}

.post {
    padding: 20px;

    .post-title {
        font-size: 1.4rem;
        word-break: break-all;
    }

    .post-author {
        opacity: .7;
    }

    .post-content {
        border-top: 2px solid #0001;
        margin-top: 10px;
        padding: 20px 0;
        opacity: .8;
    }

    #delete-post {
        background: #a00;
        color: white;
        padding: 7px;
        border-radius: 5px;
        &:hover {
            background: #c00;
        }
        &:active {
            background: #800;
        }
    }
}

.user-details {
    padding: 20px;

    #username {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid #0003;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    #biography {
        font-style: italic;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;

    label:not(:first-child) {
        margin-top: 20px;
    }

    textarea {
        resize: none;
    }

    input[type="text"],
    input[type="password"],
    textarea {
        padding: 10px;
    }

    #toggle-view-pswd-container {
        margin: 10px 0;
        input {
            margin-right: 10px;
        }
    }
    
    input[type="submit"] {
        border: none;
        background: $accent-bg;
        color: $accent-fg;
        padding: 10px;

        &:hover,
        &:focus {
            background: $accent-bg-light;
        }
        
        &:active {
            background: $accent-bg-lighter;
        }
    }

    #form-error-message {
        color: #a00;
        padding-top: 10px;
    }
}

#login-form,
#signup-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
