$accent-fg: #fff;
$accent-bg: #048;
$accent-bg-light: #26a;
$accent-bg-lighter: #48c;
$accent: 210;

$default-font: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

%underline-on-hover {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.center-vert {
    align-items: center;
}

.confirm-delete {
    background-color: #eec;
    border: 1px solid #aa0;
    border-radius: 5px;
    padding: 5px 10px;

    .confirm {
        color: #a00;
        text-decoration: underline;
        padding: 5px;
    }
    .cancel {
        color: #26a;
        text-decoration: underline;
        padding: 5px;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: $default-font;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    &:hover { cursor: pointer }
}
.rounded-button {
    color: white;
    padding: 7px;
    border-radius: 5px;

    &.default {
        background: $accent-bg-light;
        &:hover { background: $accent-bg-lighter }
        &:active { background: $accent-bg }
    }
    &.red {
        background: #a00;
        &:hover { background: #c00 }
        &:active { background: #800 }
    }
    &.blue {
        background: #26a;
        &:hover { background: #48c }
        &:active { background: #048 }
    }
}
.error,
.info {
    background: #f003;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.error { border-color: #f00 }
.info { border-color: #00f }

a, .link {
    text-decoration: none;
    color: inherit;
    @extend %underline-on-hover;

    &.painted { color: $accent-bg-light }
}

.flex-separator {
    margin-lefT: auto;
}

body {
    background: #d9d9d9;
}

.content {
    background: #f4f4f4;
    width: 800px;
    min-height: 400px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
}

.header-section {
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;

    header {
        background: $accent-bg-light;
        color: #fff;
        padding: 40px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        align-items: center;
        color: $accent-fg;
        background: $accent-bg;

        & > * {
            padding: 10px;
        }

        .nav-button {
            @extend %underline-on-hover;
            &.right {
                justify-self: right;
            }
        }
    }
}

.main-board {
    padding: 10px;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    $odd-bg: #ececec;
    $even-bg: #e0e0e0;

    .item {
        background: transparentize($accent-bg, 0.3);
        background: $odd-bg;
        padding: 10px;
        width: 100%;
        max-width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }

    .item:nth-child(even) {
        background: $even-bg;
    }

    .post-list-options {
        background: $accent-bg-light;
        color: $accent-fg;
        user-select: none;
        height: max-content;

        & > * {
            display: flex;
            flex-direction: row;
        }

        select {
            margin-left: 8px;
            background: transparentize(white, 0.9);
            border: none;
            color: white;
            text-align: center;
            border-bottom: 1px solid white;
            cursor: pointer;
            &:hover {
                background: transparentize(white, 0.8);
            }

            option {
                background: white;
                color: black;
            }
        }

        .create-post {
            margin-left: auto;
        }
    }

    .post {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            background: #ccc;
            .post-title {
                text-decoration: underline;
            }
        }

        .post-date {
            min-width: 100px;
        }
        .post-title {
            font-size: 1rem;
            color: $accent-bg;
            word-break: break-all;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .post-author {
            font-size: 1rem;
            opacity: .9;
            min-width: 120px;
            max-width: 120px;
            margin-left: auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            a {
                color: $accent-bg-light;
                padding-left: 4px;
            }
        }
    }
}

.post {
    padding: 20px;

    .post-title {
        font-size: 1.4rem;
        word-break: break-all;
    }

    .post-author {
        opacity: .7;
    }

    .post-content {
        border-top: 2px solid #0001;
        margin-top: 10px;
        padding: 20px 0;
        opacity: .8;
    }
}

.user-details {
    padding: 20px;

    #username {
        font-size: 1.5rem;
        font-weight: bold;
        border-bottom: 1px solid #0003;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    #biography {
        font-style: italic;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 20px;

    label {
        user-select: none;
        display: flex;
        justify-content: space-between;
    }
    label:not(:first-child) {
        margin-top: 20px;
    }

    textarea {
        resize: none;
    }

    input[type=text],
    input[type=password],
    textarea {
        padding: 10px;
    }

    #toggle-view-pswd-container {
        display: flex;
        align-items: center;
        margin: 10px 0;
        input {
            margin: 0;
            margin-right: 10px;
        }
        label {
            margin: 0;
        }
    }

    .field-char-count {
        opacity: .6;
        display: flex;
        justify-content: flex-end;
    }
    
    input[type=submit] {
        border: none;
        background: $accent-bg;
        color: $accent-fg;
        margin-top: 20px;
        padding: 10px;

        &:hover,
        &:focus {
            background: $accent-bg-light;
        }
        &:active {
            background: $accent-bg-lighter;
        }

        &.disabled {
            background: #888;
            cursor: auto;
        }
    }

    #form-error-message {
        color: #a00;
        padding-top: 10px;
    }
}

#login-form,
#signup-form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .content {
        margin: 0;
    }
    .header-section {
        header {
            flex-direction: column;
        }
        nav {
            flex-direction: column;
            .flex-separator {
                display: none;
            }
        }
    }

    .post-list {
        max-width: 100%;

        .item {
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .post-date {
                order: 3;
            }
            .post-title {
                order: 1;
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .post-author {
                order: 2;
                margin: 0;
                justify-content: flex-start;
            }
        }

        .post-list-options {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            height: max-content;
            .create-post {
                flex-basis: 100%;
            }
        }
    }
}