a:hover, .link:hover, .header-section nav .nav-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.center-vert {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-delete {
  background-color: #eec;
  border: 1px solid #aa0;
  border-radius: 5px;
  padding: 5px 10px;
}

.confirm-delete .confirm {
  color: #a00;
  text-decoration: underline;
  padding: 5px;
}

.confirm-delete .cancel {
  color: #26a;
  text-decoration: underline;
  padding: 5px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  border: none;
  background: none;
  color: inherit;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.rounded-button {
  color: white;
  padding: 7px;
  border-radius: 5px;
}

.rounded-button.default {
  background: #26a;
}

.rounded-button.default:hover {
  background: #48c;
}

.rounded-button.default:active {
  background: #048;
}

.rounded-button.red {
  background: #a00;
}

.rounded-button.red:hover {
  background: #c00;
}

.rounded-button.red:active {
  background: #800;
}

.rounded-button.blue {
  background: #26a;
}

.rounded-button.blue:hover {
  background: #48c;
}

.rounded-button.blue:active {
  background: #048;
}

.error,
.info,
.success {
  background: #f003;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.error {
  border-color: #f00;
}

.info {
  border-color: #00f;
}

.success {
  background: #0f03;
  border-color: #0f0;
}

a, .link {
  text-decoration: none;
  color: inherit;
}

a.painted, .link.painted {
  color: #26a;
}

.flex-separator {
  margin-lefT: auto;
}

body {
  background: #d9d9d9;
}

.content {
  background: #f4f4f4;
  width: 800px;
  min-height: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 10px 10px 0 0;
  padding-bottom: 10px;
}

.header-section {
  border-radius: 10px 10px 0 0;
  margin-bottom: 15px;
}

.header-section header {
  background: #26a;
  color: #fff;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background: #048;
}

.header-section nav > * {
  padding: 10px;
}

.header-section nav .nav-button.right {
  -ms-grid-column-align: right;
      justify-self: right;
}

.main-board {
  padding: 10px;
}

.post-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post-list .item {
  background: #ececec;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-list .page-controls,
.post-list .post-list-options {
  background: #26a;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.post-list .create-post {
  margin-left: auto;
}

.post-list .page-controls {
  width: 100%;
}

.post-list .page-controls:first-child {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.post-list .page-controls:last-child {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.post-list .page-controls p {
  margin-right: 5px;
}

.post-list .page-controls .page-button {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  height: 25px;
  width: 25px;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-list .page-controls .page-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.post-list .page-controls .page-button.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0;
}

.post-list .page-controls .page-button.current {
  background: rgba(255, 255, 255, 0.3);
}

.post-list .post-list-options > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post-list .post-list-options select {
  margin-left: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-align: center;
  cursor: pointer;
}

.post-list .post-list-options select:hover {
  background: rgba(255, 255, 255, 0.2);
}

.post-list .post-list-options select option {
  background: white;
  color: black;
}

.post-list .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  position: relative;
}

.post-list .post:hover {
  text-decoration: none;
  background: #ccc;
}

.post-list .post:hover .post-title {
  text-decoration: underline;
}

.post-list .post:nth-child(even) {
  background: #e0e0e0;
}

.post-list .post:nth-child(odd) {
  background: #ececec;
}

.post-list .post .pinned-post-tag {
  background: #48c;
  color: white;
  padding: 1px 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.post-list .post .post-date {
  min-width: 100px;
  opacity: .6;
  font-size: .7rem;
}

.post-list .post .post-title {
  font-size: 1rem;
  color: #048;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-list .post .post-author {
  font-size: 1rem;
  opacity: .9;
  min-width: 120px;
  max-width: 120px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post-list .post .post-author p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-list .post .post-author a {
  color: #26a;
  padding-left: 4px;
}

.post {
  padding: 20px;
}

.post #post-title {
  font-size: 1.4rem;
  word-break: break-word;
}

.post #edit-post {
  color: #048;
}

.post #post-author {
  opacity: .7;
}

.post #post-content {
  border-top: 2px solid #0001;
  margin-top: 10px;
  padding: 20px 0;
  opacity: .8;
  word-break: break-word;
}

.user-details {
  padding: 20px;
}

.user-details #username {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #0003;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.user-details #biography {
  font-style: italic;
}

.default-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.default-form label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.default-form label:not(:first-child) {
  margin-top: 20px;
}

.default-form textarea {
  resize: none;
}

.default-form input[type=text],
.default-form input[type=password],
.default-form textarea {
  padding: 10px;
}

.default-form #toggle-view-pswd-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.default-form #toggle-view-pswd-container input {
  margin: 0;
  margin-right: 10px;
}

.default-form #toggle-view-pswd-container label {
  margin: 0;
}

.default-form .field-char-count {
  opacity: .6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.default-form input[type=submit] {
  border: none;
  background: #048;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
}

.default-form input[type=submit]:hover, .default-form input[type=submit]:focus {
  background: #26a;
}

.default-form input[type=submit]:active {
  background: #48c;
}

.default-form input[type=submit].disabled {
  background: #888;
  cursor: auto;
  pointer-events: none;
}

.default-form #form-error-message {
  color: #a00;
  padding-top: 10px;
}

.post-search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.post-search-form input[type=text] {
  background: #fff5;
  color: white;
  border: 2px solid transparent;
}

.post-search-form input[type=submit] {
  background: #fffa;
  border: 2px solid transparent;
}

.post-search-form input:focus {
  outline: none;
  border-color: #fffa;
}

.floating-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0008;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.floating-form .container {
  background: #fff;
  border: 1px solid #26a;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.floating-form .container .close-container {
  position: relative;
  top: -20px;
  right: -20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 40px;
  height: 40px;
  background: #048;
  color: #fff;
  border-radius: 50%;
}

#login-form,
#signup-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .content {
    margin: 0;
  }
  .header-section header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-section nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-section nav .flex-separator {
    display: none;
  }
  .post-list {
    max-width: 100%;
  }
  .post-list .item {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .post-list .item .post-date {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .post-list .item .post-date > * {
    margin-right: 7px;
  }
  .post-list .item .post-title {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .post-list .item .post-author {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .post-list .page-controls,
  .post-list .post-list-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .post-list .post-list-options {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post-list .post-list-options .create-post {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */